$first-column-padding: 0 1rem;
$selected-text-color: #eee;
$regular-text-color: #222;

.description p {
	overflow: hidden;
	text-overflow: ellipsis;
	width: 400px;
	white-space: nowrap;
}
table {
	border: 1px solid #ccc;
	margin: 0 auto;
	width: 65vw;

	td {
		vertical-align: middle;
	}
	th {
		background-color: slategray;
		border-right: 1px solid #ccc;
		color: $regular-text-color;

		span {
			margin: 0 1rem;
			
			&.selected {
				color: $selected-text-color;
				font-weight: bold;
			}

			&:last-of-child {
				border-right: none;			
			}

			i {
				&:hover:not(.selected) {
					cursor: pointer;
				}

				&.selected {
					color: $selected-text-color;
				}
			}
		}
	}
	tr:nth-child(even) {
		background-color: #e6eaee;
	}
	tr:nth-child(odd) {
		background-color: white;
	}
	tr:hover {
		background-color: lightyellow;
		cursor: pointer;
	}
	tr.selected td {
		color: red;
	}
	tr td i.selected {
		color: #CCC;
		cursor: default;
	}
}