<div class="d-flex flex-column align-items justify-content p-3 mt-3">
	<table class="table">
		<th *ngFor="let columnName of columnNames">
			<span [class]="{'selected': sortColumn===columnName}">{{columnName}}</span>
			<span *ngIf="sortableColumns.indexOf(columnName) >= 0">
				<i [class]="(sortDirection==='down' && sortColumn===columnName ? 'selected ' : '') + 'bi bi-chevron-down'"
					[attr.data-column]="columnName" (click)=" sort($event)"></i>
				<i [class]="(sortDirection==='up' && sortColumn===columnName ? 'selected ' : '') + 'bi bi-chevron-up'"
					[attr.data-column]="columnName" (click)="sort($event)"></i>
			</span>
		</th>
		<tbody>
			<tr *ngFor="let event of events">
				<td>{{event.name}}</td>
				<td class="description">
					<p title={{event.description}}>{{event.description}}</p>
				</td>
				<td>{{event.category}}</td>
				<td>{{formatDate(event.eventDate)}}</td>
			</tr>
		</tbody>
	</table>
</div>