$first-column-padding: 0 1rem;
$selected-text-color: #eee;
$regular-text-color: #222;

.description p {
	overflow: hidden;
	text-overflow: ellipsis;
	width: 200px;
	white-space: nowrap;
}
table {
	border: 1px solid #ccc;
	td {
		vertical-align: middle;
	}
	th {
		background-color: slategray;
		border-right: 1px solid #ccc;
		color: $regular-text-color;

		span {
			margin: 0 1rem;
			
			&.selected {
				color: $selected-text-color;
				font-weight: bold;
			}

			&:last-of-child {
				border-right: none;			
			}

			& i {
				:hover {
					cursor: pointer;
				}

				&.selected {
					color: $selected-text-color;
				}
			}
			
		}
	}
	tr:nth-child(even) {
		background-color: #e6eaee;
	}
	tr:nth-child(odd) {
		background-color: white;
	}
	tr:hover {
		background-color: lightyellow;
	}
}